/* LANDING PAGE */
.landing-image-container {
	width: 100%;
	position: relative;
}

.landing-image-container img {
	width: 100%;
}

.img-caption {
	position: absolute;
	top: 20%;
	left: 0;
	width: 100%;
	padding: 2rem;
	background-color: rgba(0,0,0,0.7);
}

.img-caption > h1 {
	color: rgb(236, 236, 236);
}

.img-caption > p {
	color: rgb(200, 200, 200);
	font-style: italic;
	font-size: 1.2rem;
}

.user-welcome {
    display: block;
    width: 100%;
    color: white;
    padding: 12px 0 12px 0;
    padding-left: 15px;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 0.8125rem;
    font-weight: normal;
    text-transform: none;
}

.user-welcome .username {
    font-weight: bold;
}